.App {
  text-align: center;
  padding: 50px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.inputToDo {
  width: 300px;
  height: 30px;
  font-size: 15px;
}

.inputBtn {
  width: 100px;
  margin: 5px;
  height: 30px;
  font-size: 15px;
  transition-duration: 1s;
}

.inputBtn:hover {
  background-color: #34ebcf;
  cursor: pointer;
}
